.container {
  display: block;
  max-width: 100%;
  padding: 10px;
  background-color: bisque;
}

.camera {
  display: block;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.camera.clicked {
 cursor: grabbing;
}
